
pre, code {
	overflow: hidden;
	
	background-color: var(--main-color);
	
	border: 2px solid var(--main-color);
	border-radius: var(--radius);

	font-size: 13px;
	text-shadow: none;
}

code {
	padding: 0 4px;

	color: var(--background-color);
	font-family: monospace;
	font-weight: bold;
	vertical-align: middle;
	white-space: pre;
	unicode-bidi: embed;
}

pre {
	margin: var(--margin) 0;

	display: flex;
}

pre code {
	width: 100%;
	padding: 4px 8px;
	
	display: block;

	overflow-x: auto;
	scrollbar-color: var(--main-color) var(--background-color);
	scrollbar-width: thin;

	border: none;
	border-radius: 0;
	
	background-color: var(--background-color);
	
	color: var(--main-color);
	font-weight: normal;
}

pre .line_numbers {
	padding: 4px 8px 4px 6px;

	color: var(--background-color);
	text-align: right;
	user-select: none;
}
