
:root {
	--background-color: #d7cdb3; /* #e2dac4 */
	--main-color:       #004e7a; /* #004e7a */
	--highlight-color:  #c8383f;
	
	--content-width: 640px;
	--nav-width: 200px;
	
	--margin: 16px;
	
	--border: 2px;
	--radius: 4px;
}

.yellow {
	--background-color: #e8c25f; /* #e8bf62 */
	--main-color:       #232f2e;
	--highlight-color:  #c23e44;
}

.gray {
	--background-color: #cecece;
	--main-color:       #444444;
	--highlight-color:  #b9263b;
}

::selection {
	background: var(--main-color);
	color: var(--background-color);
	filter: invert(100%);
}

body{
	margin: 0;

	background-color: var(--background-color);
	
	color: var(--main-color);
	font-family: sans-serif;
}

main {
	max-width: var(--content-width);
	margin: 0 auto 64px;
	padding: 0 var(--margin);
	
	transition: transform 0.3s;
}

@media only screen and (max-width: 1120px) {
	main {
		margin: 0 0 64px calc(var(--nav-width) + var(--margin));
	}
}

main ul {
	padding: 0;
	list-style: none;
}

main ul li {
	position: relative;
}

main ul li::after {
	content: '';
	
	width: 100%;
	height: 4px;
	
	position: absolute;
	bottom: 0;

	border-radius: 2px;
	
	background-color: var(--main-color);
}

main ul li:last-of-type::after {
	content: none;
}

main ul li article a {
	padding-bottom: 4px;
	display: block;
	text-decoration: none;
}

main ul li article h1 {
	margin-top: 12px;
	position: relative;
}

main ul li article a:hover::after {
	content: '';
	
	width: 100%;
	height: calc(100% - var(--margin));
	
	padding: 4px 8px;
	
	position: absolute;
	top: -4px;
	left: -8px;
	z-index: -10;

	border-radius: 8px;
	
	background-image: url(gfx/dot.png);
	background-size: 4px;
}
