
:root {
	--bgc: #f2f0ea;
	--fgc: #232f2e;
	--hlc: #f03a43;
	--htc: #232f2e7f;

	--width:     70ch;
	--nav-width: 10ch;

	--border: 0.25ch;
}

.red {
	--bgc: #b92d2d;
	--fgc: #dbd7cd;
	--hlc: #f9d071;
}

.yellow {
	--bgc: #e8c25f;
	--fgc: #232f2e;
	--hlc: #c23e44;
}

.green {
	--bgc: #8cbd84;
	--fgc: #232f2e;
	--hlc: #f9d071;
}

body {
	max-width: var(--width);
	margin: auto;
	padding: 0 2ch;

	background-color: var(--bgc);

	color: var(--fgc);
	font-family: sans-serif;
	line-height: 1.5;
}

header h1 {
	font-size: 1.5em;
	display: flex;
}

header h1::before {
	content: '';
	width: 1.5em;
	background-color: var(--hlc);
	-webkit-mask: url(gfx/photodiode.svg) no-repeat center left;
	mask: url(gfx/photodiode.svg) no-repeat center left / contain;
}

a {
	color: var(--hlc);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* list */
ol {
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 1ch;
	display: flex;
	justify-content: space-between;
}

ol a {
	width: 100%;
	font-weight: bold;
}

/* article */
article h1 {
	margin-bottom: 0.5ch;
}

time {
	color: var(--htc);
}

article > header {
	display: flex;
	justify-content: space-between;
}

blockquote {
	margin-left: 0;
	padding: 0 2ch;
	border-left: var(--border) solid var(--htc);
}

/* code */
pre {
	display: flex;
}

pre .line_numbers {
	padding-right: 2ch;
	color: var(--htc);
	text-align: right;
	user-select: none;
}

pre code {
	overflow-x: auto;
	font-size: inherit;
}

pre .symbol {
	font-weight: bold;
}

pre .number, pre .string {
	color: var(--hlc);
	font-weight: bold;
}

pre .comment {
	color: var(--htc);
}
