
:root {
	--bgc: #2a3332;
	--fgc: #cdd2c8;
	--hlc: #e3c06d;
	--red: #df4f5c;
	--htc: #a9bba470;

	--width:     64ch;
	--nav-width: 24ch;
}

body {
	max-width: var(--width);
	margin: auto;
	padding: 0 2ch;

	background-color: var(--bgc);

	color: var(--fgc);
	font-family: sans-serif;
	line-height: 1.5;
}

a {
	color: var(--hlc);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* header */
header h1 {
	font-size: 1.5em;
}

header h1 a {
	display: flex;
	color: var(--fgc);
}

header h1 a::before {
	content: '';
	width: 1.5em;
	margin-right: 0.5ch;
	background-color: var(--fgc);
	-webkit-mask: url(gfx/photodiode.svg) no-repeat center / contain;
	mask: url(gfx/photodiode.svg) no-repeat center / contain;
}

header h1 a:hover {
	color: var(--hlc);
	text-decoration: none;
}

header h1 a:hover::before {
	background-color: var(--hlc);
}
/* ---- */

main {
	margin-bottom: 4rem;
}

/* footer */
footer {
	padding-bottom: 1rem;
}

#links {
	display: flex;
	justify-content: center;
}

#links a {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 1ch;
	display: block;
	overflow: hidden;
	background-color: var(--fgc);
	-webkit-mask: no-repeat center / contain;
	mask: no-repeat center / contain;
	text-indent: -999ch;
}

#links a:hover {
	background-color: var(--hlc);
}

#links .github  {-webkit-mask-image: url(gfx/github.svg);  mask-image: url(gfx/github.svg);}
#links .twitter {-webkit-mask-image: url(gfx/twitter.svg); mask-image: url(gfx/twitter.svg);}
#links .firefox {-webkit-mask-image: url(gfx/firefox.svg); mask-image: url(gfx/firefox.svg);}
#links .itchio  {-webkit-mask-image: url(gfx/itchio.svg);  mask-image: url(gfx/itchio.svg);}
/* ---- */

/* list */
ol {
	padding: 0;
	list-style: none;
}

ol li {
	margin-bottom: 0.5em;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

ol a {
	width: 100%;
	font-weight: bold;
}

ul {
	margin: 0.5em 0 1em 0;
	padding-left: 3ch;
}
/* ---- */

/* article */
article h1 {
	margin: 1rem 0 0.5rem 0;
	color: var(--hlc);
}

h2 {
	margin: 1rem 0;
}

h3 {
	margin: 0.5rem 0;
	font-size: 1em;
}

time {
	font-size: 0.8em;
}

blockquote {
	margin-left: 0;
	padding: 0 1.5ch;
	border-left: 0.25ch solid var(--htc);
}
/* ---- */

/* code */
pre {
	overflow-x: auto;
	scrollbar-color: var(--htc) var(--bgc);
	scrollbar-width: thin;
}

pre code {
	counter-reset: line;
	font-size: inherit;
}

pre code line::before {
	counter-increment: line;
	content: counter(line);
	width: 3ch;
	padding-right: 3ch;
	display: inline-block;
	color: var(--htc);
	text-align: right;
}

code .o, code .p, code .kt {
	color: var(--hlc);
	font-weight: bold;
}

code .mi, code .mh, code .mf, code .s, code .k, code .kr {
	color: var(--red);
	font-weight: bold;
}

code .c1, .cm {
	color: var(--htc);
}
/* ---- */

@media only screen and (min-width: 112ch) {
	header, footer {
		width: var(--nav-width);
		margin: 0 2ch;
		position: fixed;
		left: 0;
	}
	header {top: 0;}
	footer {bottom: 0;}
	#links {justify-content: left;}
}
